.listSwitchs{
    
    width: 90%;
    margin: 0px auto;
    margin-top: 2rem;
    height: 60vh;
    overflow: auto;
}

.liSwitch{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3E444D;
    padding: 10px 0px;
    align-items: center;
}