.tilte-1{
    color: #FFFFDF;
    font-size: 2rem;
    font-family: monospace;
}

.tilte-2{
    color: #FFFFDF;
    font-size: 1.25rem;
    font-family: monospace;
}

.tilte-3{
    color: #FFFFDF;
    font-size: 1rem;
    font-family: monospace;
}